.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #03071e;
  color: #ffba08;
}

.email {
  display: flex;
  margin: 0;
  padding: 0 20px;
  width: 400px;
  height: 70px;
  border: none;
  border-radius: 10px;
}

.password {
  display: flex;
  margin: 0;
  padding: 0 20px;
  width: 400px;
  height: 70px;
  border: none;
  border-radius: 10px;
}

.enter {
  display: flex;
  justify-content: center;
  margin: 60px 0;
  width: 300px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: #faa307;
}

.enter:hover {
  display: flex;
  text-decoration: underline;
  background-color: rgb(0, 170, 255);
  transition: 1s;
}
